<!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org">
 <head>
 	<meta charset="UTF-8">
 	<title>Save Employee</title>
 </head>
 <body>
 
 	<h1>Data Employee</h1><br>
 	
 	<p th:text="'ID : '+ ${data.id}"></p><br>
	<p th:text="'First nama : '+ ${data.firstName}"></p><br>
	<p th:text="'First nama : '+ ${data.firstName}"></p><br>
	<p th:text="'Address : '+ ${data.address}"></p><br>
	<p th:text="'Email : '+ ${data.email}"></p><br>
	<p th:text="'Place of Birth : '+ ${data.birthPlace}"></p><br>
	<p th:text="'Date of Birth : '+ ${data.birthDate}"></p><br>
	
 </body>
 </html>