<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Employee Save</title>
	</head>

	<body>
		<h1>Employee Save Page</h1>
		<p th:text="'ID: ' + ${data.id}" />
		<p th:text="'First Name: ' + ${data.firstName}" />
		<p th:text="'Last Name: ' + ${data.lastName}" />
		<p th:text="'Alamat: ' + ${data.address}" />
		<p th:text="'Email: ' + ${data.email}" />
		<p th:text="'Place of Birth: ' + ${data.placeOfBirth}"/>
		<p th:text="'Date of Birth: ' + ${data.dateOfBirth}"/>
	</body>
</html>