<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Message Save</title>
	</head>
	<body>
		<h1>Message Save Page</h1>
		<p th:text="'ID: ' + ${data.idm}" />
		<p th:text="'Message: ' + ${data.msg}" />
	</body>
</html>