<!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org">
 <head>
 	<meta charset="UTF-8">
 	<title>Biodata</title>
 </head>
 <body>
 	<h1>Data Formulir</h1><br>
 	<p th:text="'ID : '+ ${data.id}"></p><br>
	<p th:text="'Nama : '+ ${data.nama}"></p><br>
	<p th:text="'Alamat : '+ ${data.alamat}"></p><br>
	<p th:text="'Kelamin : '+ ${data.jk}"></p><br>
	<p th:text="'No. Telp : '+ ${data.telp}"></p><br>
 </body>
 </html>