<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Biodata Index</title>
</head>
<body>
	<h1>Biodata List</h1>
	<p><a href="add">Menambah Biodata</a></p>
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Alamat</th>
				<th>Email</th>
				<th>Place of Birth</th>
				<th>Date of Birth</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="bd : ${listData}">
				<td><span th:text="${bd.id}"></span></td>
				<td><span th:text="${bd.firstName}"></span></td>
				<td><span th:text="${bd.address}"></span></td>
				<td><span th:text="${bd.email}"></span></td>
				<td><span th:text="${bd.placeOfBirth}"></span></td>
				<td><span th:text="${bd.dateOfBirth}"></span></td>
				<td><a th:href="@{edit/{id}{id=${bd.id}}}">Edit</a> | <a href="@{delete/{id}{id=${bd.id}}}">Hapus</a></td>
			</tr>
		</tbody>
	</table>
</body>
</html>