<!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org">
 <head>
 	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
 	<title>Edit Biodata</title>
 </head>
 <body>
 <div class="container">
 
 	<br><br>
 	
 	<div class="card card-info">
 		<div class="card-header">
 			<h3 class="card-title"><a th:href="@{/biodata}"><i class="fas fa-angle-left"></i></a> | Edit Biodata</h3>	
 		</div>
 		
 		<form th:action="@{/biodata/save}" method="post">
 		<input type="text" name="id" th:value="${data.id}" style="display: none">
 			<div class="card-body">
 				<div class="form-group row">
			 		<label class="col-form-label col col-md-2">Nama</label>
			 		<div class="col-md-10">
			 			<input type="text" name="nama" th:value="${data.nama}" class="form-control">
			 		</div>
		 		</div>
		 		<div class="form-group row">
			 		<label class="col-form-label col col-md-2">Alamat</label>
			 		<div class="col-md-10">
			 			<textarea name="alamat" th:value="${data.alamat}" class="form-control"></textarea>
			 		</div>
		 		</div>
		 		<div class="form-group row">
			 		<label class="col-form-label col col-md-2">Jenis Kelamin</label>
			 		<div class="col-md-10">
			 			<input type="radio" name="jk" value="Laki-laki" style="cursor: pointer"> Laki-laki &nbsp
		 				<input type="radio" name="jk" value="Perempuan" style="cursor: pointer"> Perempuan<br>
			 		</div>
		 		</div>
		 		<div class="form-group row">
			 		<label class="col-form-label col col-md-2">No. Telpon</label>
			 		<div class="col-md-10">
			 			<input type="number" name="telp" th:value="${data.telp}" class="form-control">
			 		</div>
		 		</div>		 	
 			</div>
 			<div class="card-footer">
		 		<button type="submit" class="btn btn-success btn-lg col-3 offset-9">SUBMIT</button>
		 	</div>
		</form>
 	</div>
 	
 </div>	
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
 </body>
 </html>