<!DOCTYPE html>
 <html lang="en" xmlns:th="http://www.thymeleaf.org">
 <head>
 	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    
 	<title>Biodata</title>
 </head>
 <body>
 
 	<div class="container">
	 	<br><br>
	 	<h1 class="text-center">Biodata List</h1>
		<p><a href="biodata/add" class="col-3 offset-9 btn btn-primary btn-lg">Biodata &nbsp<i class="fas fa-plus"></i></a></p>
	 	<table class="table">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>Nama</th>
					<th>Alamat</th>
					<th>Jenis Kelamin</th>
					<th>Telp</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="bd : ${listData}">
					<td><span th:text="${bd.id}"></span></td>
					<td><span th:text="${bd.nama}"></span></td>
					<td><span th:text="${bd.alamat}"></span></td>
					<td><span th:text="${bd.jk}"></span></td>
					<td><span th:text="${bd.telp}"></span></td>
					<td class="text-right"><a th:href="@{/biodata/edit/{id}(id=${bd.id})}" class="btn btn-warning btn-sm">Edit &nbsp<i class="fas fa-edit"></i></a>
					<a th:href="@{biodata/delete/{id}(id=${bd.id})}" class="btn btn-danger btn-sm">Hapus &nbsp<i class="fas fa-trash-alt"></i></a></td>
				</tr>
			</tbody>
		</table>
		
	</div>
	
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
 </body>
 </html>